@import "tailwindcss";

/* https://colorhunt.co/palette/1f2544474f7a81689dffd0ec */
/* https://uicolors.app/create */

@theme {
  --color-blue-zodiac-50: #f2f5fc;
  --color-blue-zodiac-100: #e1e9f8;
  --color-blue-zodiac-200: #cad9f3;
  --color-blue-zodiac-300: #a5c1eb;
  --color-blue-zodiac-400: #7ba1df;
  --color-blue-zodiac-500: #5b82d6;
  --color-blue-zodiac-600: #4767c9;
  --color-blue-zodiac-700: #3d55b8;
  --color-blue-zodiac-800: #374796;
  --color-blue-zodiac-900: #313e77;
  --color-blue-zodiac-950: #1f2544;

  --color-trendy-pink-50: #f8f7fb;
  --color-trendy-pink-100: #f3f0f7;
  --color-trendy-pink-200: #e7e4f0;
  --color-trendy-pink-300: #d5cee4;
  --color-trendy-pink-400: #bdb2d3;
  --color-trendy-pink-500: #a492c0;
  --color-trendy-pink-600: #9178af;
  --color-trendy-pink-700: #81689d;
  --color-trendy-pink-800: #6a5582;
  --color-trendy-pink-900: #58476b;
  --color-trendy-pink-950: #392e47;

  --color-olivine-50: #f3f6ef;
  --color-olivine-100: #e5ecdb;
  --color-olivine-200: #cedabc;
  --color-olivine-300: #aec294;
  --color-olivine-400: #96af78;
  --color-olivine-500: #728f53;
  --color-olivine-600: #58713f;
  --color-olivine-700: #455734;
  --color-olivine-800: #3a472d;
  --color-olivine-900: #323e29;
  --color-olivine-950: #192013;




}


:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
